services:
    db:
        image: mysql
        container_name: speedtest-tracker-db
        hostname: speedtest-tracker-mysql
        restart: always
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_RANDOM_ROOT_PASSWORD=true
        volumes:
            - ${DB_DATA_FOLDER:-./dbdata}:/var/lib/mysql
        healthcheck:
            test: ["CMD", "mysqladmin", "ping", "-p${MYSQL_PASSWORD}"]
            interval: 5s
            retries: 5
            timeout: 5s
        networks:
            - net

    speedtest-tracker:
        image: lscr.io/linuxserver/speedtest-tracker
        container_name: speedtest-tracker
        hostname: speedtest-tracker
        ports:
            - ${SPEEDTESTTRACKER_HTTP_PORT:-80}:80
            - ${SPEEDTESTTRACKER_HTTPS_PORT:-443}:443
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - APP_KEY=${SPEEDTESTTRACKER_APP_KEY}
            - DB_CONNECTION=mysql
            - DB_HOST=db
            - DB_PORT=3306
            - DB_DATABASE=${MYSQL_DATABASE}
            - DB_USERNAME=${MYSQL_USER}
            - DB_PASSWORD=${MYSQL_PASSWORD}
            - APP_TIMEZONE=${APP_TIMEZONE}
            - CHART_DATETIME_FORMAT=${DATETIME_FORMAT}
            - DATETIME_FORMAT=${DATETIME_FORMAT}
            - DISPLAY_TIMEZONE=${APP_TIMEZONE}
            - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
            - SPEEDTEST_SERVERS=${SPEEDTEST_SERVERS}
            - SPEEDTEST_BLOCKED_SERVERS=${SPEEDTEST_BLOCKED_SERVERS}
        volumes:
            - ${CONFIG_FOLDER:-./config}:/config
        restart: unless-stopped
        depends_on:
            - db
        networks:
            - net

networks:
  net:
    external: false
