services:
  database:
    image: mysql
    container_name: speedtest-tracker-db
    hostname: speedtest-tracker-db
    restart: always
    environment:
      - MYSQL_DATABASE=${MYSQL_DATABASE}
      - MYSQL_USER=${MYSQL_USER}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_RANDOM_ROOT_PASSWORD=true
    volumes:
      - data:/var/lib/mysql
    networks:
      net:

  speedtesttracker:
    image: linuxserver/speedtest-tracker
    container_name: speedtest-tracker-app
    hostname: speedtest-tracker
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
      - APP_KEY=${SPEEDTESTTRACKER_APP_KEY}
      - APP_URL=${APP_URL}
      - ADMIN_NAME=${ADMIN_NAME}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ASSET_URL=${ASSET_URL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - DB_CONNECTION=mysql
      - DB_HOST=database
      - DB_PORT=3306
      - DB_DATABASE=${MYSQL_DATABASE}
      - DB_USERNAME=${MYSQL_USER}
      - DB_PASSWORD=${MYSQL_PASSWORD}
      - APP_LOCALE=${APP_LOCALE}
      - APP_TIMEZONE=${APP_TIMEZONE}
      - CHART_DATETIME_FORMAT=${DATETIME_FORMAT}
      - DATETIME_FORMAT=${DATETIME_FORMAT}
      - DISPLAY_TIMEZONE=${APP_TIMEZONE}
      - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
      - SPEEDTEST_SERVERS=${SPEEDTEST_SERVERS}
      - SPEEDTEST_BLOCKED_SERVERS=${SPEEDTEST_BLOCKED_SERVERS}
    volumes:
      - ./config:/config
    restart: unless-stopped
    depends_on:
      - database
    ports:
      - 80:80
      - 443:443
    networks:
      net:

volumes:
  data:
    name: speedtesttracker-data

networks:
  net:
    name: speedtesttracker-network
