services:
    db:
        image: mysql
        container_name: speedtest-tracker-db
        hostname: speedtest-tracker-db
        restart: always
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_RANDOM_ROOT_PASSWORD=true
        volumes:
            - db:/var/lib/mysql
        networks:
            - local

    speedtest-tracker:
        image: linuxserver/speedtest-tracker
        container_name: speedtest-tracker-app
        hostname: speedtest-tracker
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - APP_KEY=${SPEEDTESTTRACKER_APP_KEY}
            - DB_CONNECTION=mysql
            - DB_HOST=db
            - DB_PORT=3306
            - DB_DATABASE=${MYSQL_DATABASE}
            - DB_USERNAME=${MYSQL_USER}
            - DB_PASSWORD=${MYSQL_PASSWORD}
            - APP_TIMEZONE=${APP_TIMEZONE}
            - CHART_DATETIME_FORMAT=${DATETIME_FORMAT}
            - DATETIME_FORMAT=${DATETIME_FORMAT}
            - DISPLAY_TIMEZONE=${APP_TIMEZONE}
            - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
            - SPEEDTEST_SERVERS=${SPEEDTEST_SERVERS}
            - SPEEDTEST_BLOCKED_SERVERS=${SPEEDTEST_BLOCKED_SERVERS}
        volumes:
            - config:/config
        restart: unless-stopped
        depends_on:
            - db
        networks:
            net:
                ipv4_address: ${APP_IP}
            local:
        dns:
            - ${DNS_IP_1}
            - ${DNS_IP_2:-9.9.9.9}

volumes:
    db:
        name: speedtest-tracker-db
    config:
        name: speedtest-tracker-config

networks:
  net:
    external: true
    name: webapps-network
  local:
    driver: bridge
    internal: true
