services:
    speedtesttracker-mysql:
        image: mysql
        container_name: speedtest-tracker-db
        hostname: speedtest-tracker-db
        restart: always
        environment:
            - MYSQL_DATABASE=${MYSQL_DATABASE}
            - MYSQL_USER=${MYSQL_USER}
            - MYSQL_PASSWORD=${MYSQL_PASSWORD}
            - MYSQL_RANDOM_ROOT_PASSWORD=true
        volumes:
            - ${SPEEDTESTTRACKER_DBDATA_FOLDER:-./dbdata}:/var/lib/mysql
        networks:
            net:

    speedtesttracker:
        image: linuxserver/speedtest-tracker
        container_name: speedtest-tracker-app
        hostname: speedtest-tracker
        environment:
            - PUID=${PUID}
            - PGID=${PGID}
            - APP_KEY=${SPEEDTESTTRACKER_APP_KEY}
            - DB_CONNECTION=mysql
            - DB_HOST=db
            - DB_PORT=3306
            - DB_DATABASE=${MYSQL_DATABASE}
            - DB_USERNAME=${MYSQL_USER}
            - DB_PASSWORD=${MYSQL_PASSWORD}
            - APP_TIMEZONE=${APP_TIMEZONE}
            - CHART_DATETIME_FORMAT=${DATETIME_FORMAT}
            - DATETIME_FORMAT=${DATETIME_FORMAT}
            - DISPLAY_TIMEZONE=${APP_TIMEZONE}
            - SPEEDTEST_SCHEDULE=${SPEEDTEST_SCHEDULE}
            - SPEEDTEST_SERVERS=${SPEEDTEST_SERVERS}
            - SPEEDTEST_BLOCKED_SERVERS=${SPEEDTEST_BLOCKED_SERVERS}
        volumes:
            - ${SPEEDTESTTRACKER_CONFIG_FOLDER:-./config}:/config
        restart: unless-stopped
        depends_on:
            - speedtesttracker-mysql
        networks:
            net:
        dns:
            - ${DNS_IP_1}
            - ${DNS_IP_2:-9.9.9.9}

networks:
  net: {}
